<h1>Astronauts%></h1>
<p>Average Age: <%= @average_age %></p>

<% @astronauts.each do |astronaut| %>
  <p>Name: <%= astronaut.name %></p>
  <p>Age: <%= astronaut.age %></p>
  <p>Job: <%= astronaut.job %></p>
<% end %>
